/* 네비게이션 바의 전체 컨테이너 스타일 */
.navbarContainer {
  background-color: #ffffff;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* 로고 스타일 */
.navbarLogo a {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

/* 메뉴 스타일 */
.navbarMenu {
  list-style-type: none;
  display: flex;
  gap: 80px;
  margin: 0;
  padding: 0%;
}

/* 개별 메뉴 항목 스타일 */
.navbarItem a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  flex-shrink: 0;
  flex-basis: auto;
}

.navbarItem a:hover {
  color: #a5a5a5;
}

.dropdownMenu {
  position: absolute;
  background-color: rgba(222, 222, 222, 0.95);
  padding: 0px;
  list-style: none;
  display: block;
  top: 101%;
  left: 0px;
  width: 100%;
  position: absolute;
}

.dropdownMenu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dropdownMenu li {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 13px;
}

.dropdownMenu .categoryItem {
  padding-right: 456px;
}

.dropdownMenu .consultListItem {
  padding-right: 456px;
}

.dropdownMenu .hospitalItem {
  padding-right: 230px;
}

.dropdownMenu .boardItem {
  padding-left: 50px;
}

.dropdownItem {
  padding: 10px 15px;
  cursor: pointer;
}

.dropdownItem:hover {
  color: #080808;
  font-weight: bold;
  background-color: rgba(135, 135, 135, 0.1);
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.mypageButton {
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #000000;
  padding: 5px 10px;
  color: #ffffff;
  cursor: pointer;
  width: 90px;
}

.mypageButton:active {
  background-color: #383838;
  color: #ffffff;
}

.wishlistButton {
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000;
  cursor: pointer;
  width: 80px;
}

.wishlistButton:active {
  background-color: #cacaca;
  color: #357038;
}

.signButton {
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #d5d5d5;
  padding: 5px 10px;
  color: #000;
  cursor: pointer;
  width: 80px;
}

.signButton a {
  color: #000;
  text-decoration: none;
}

.signButton:active {
  background-color: #b0b0b0;
  color: #000;
}

.register {
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #a3d3aa;
  padding: 5px 10px;
  color: #000;
  cursor: pointer;
  width: 80px;
}

.register a {
  color: #000;
  text-decoration: none;
}

.register:active {
  background-color: #8ab88a;
  color: #000;
}
