.boardContainer {
    max-width: 85%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .headerContainer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  .boardTitle {
    font-size: 30px;
    color: #000;
  }
  
  .writeButton {
    padding: 10px 20px;
    background-color: #A3D3AA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .writeButton:hover {
    background-color: #45a049;
  }
  
  .questionsContainer {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  }
  
  .questionItem {
    background-color: #ffffff; 
    padding: 15px;
    margin-right: 2%;
    display: flex; 
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }
  
  .questionItem:last-child {
    border-bottom: none;
  }
  
  .questionItem:hover {
    background-color: #f9f9f9;
  }
  
  .questionContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .questionTitle {
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 5px; 
    color: #000;
    text-align: left;

  }
  
  .questionText {
    font-size: 14px; 
    color: #666; 
  }
  
  .questionMeta {
    display: flex; 
    align-items: center; 
    font-size: 14px; 
    color: #888; 
    margin-left: auto;
  }
  
  .author {
    margin-right: 10px;
  }
  
  .category {
    flex: 0 0 auto; 
    padding: 3px 10px; 
    background-color: #f0f0f0; 
    border-radius: 15px; 
    font-size: 12px; 
    color: #333; 
    margin-right: 5%;
    margin-left: 2%;
  }
  
  .pagination {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 
  }
  
  .pageArrow {
    background: none; 
    border: none; 
    cursor: pointer; 
    font-size: 18px; 
    color: #333; 
  }
  
  .pageButton {
    margin: 0 5px; 
    padding: 5px; 
    background: none; 
    border: none; 
    cursor: pointer; 
    font-size: 16px;  
  }
  
  .activePage {
    font-weight: bold;
    color: #4CAF50;
  }